.footer {
  padding: 34px 0;
  background-color: $color-denim;

  &__wrapper {
    display: flex;
    align-items: center;

    @include vp-1023 {
      display: block;
    }
  }

  &__logo {
    margin-right: 170px;
  }

  &__logo-image {
    &--mobile {
      display: none;

      @include vp-1023 {
        display: block;
        margin: 0 auto;
      }
    }

    &--desctop {
      @include vp-1023 {
        display: none;
      }
    }
  }
}
