// Colors
// ---------------------------------

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-gainsboro:                   #d9d9d9;
$color-denim:                       #1c63b8;
$color-matterhorn:                  #4d4d4d;
$color-night-rider:                 #333333;
$color-grey:                        #828282;
$color-white-smoke:                 #f2f2f2;
$color-gainsboro:                   #e0e0e0;
$color-matterhorn:                  #4f4f4f;
$color-pattens-blue:                #d2e1f2;

//Шрифт
// ---------------------------------

$font-main: "Open Sans", "Arial", sans-serif;

// Typography
// ---------------------------------

$fz-default:                        16px;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
